docs/__pycache__/
search_query/__pycache__/*
test/__pycache__/*
docs/build
search_query/ebsco/__pycache__/*
search_query/pubmed/__pycache__/*
search_query/wos/__pycache__/*
search_query/generic/__pycache__/*

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log
