.wy-nav-content {
  max-width: 1200px !important;
}

td {
  white-space: normal !important;
}


pre {
    white-space: pre-wrap !important;   /* Wrap long lines */
    word-wrap: break-word !important;   /* Break long words if needed */
}
